<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelReservationSystemProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HotelReservationSystemProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HotelReservationSystemProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if (User.IsInRole("SuperAdmin"))
                        {
                        
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                    Admin Management
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Guests" asp-action="Index">Manage Guests</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Receptionists" asp-action="Index">Manage Receptionists</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Managers" asp-action="Index">Manage Managers</a>
                                    </li>
                                    <li class="nav-item">
										<a class="nav-link text-dark" asp-area="" asp-controller="Rooms" asp-action="Index">Manage Rooms</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="RoomBookings" asp-action="Index">Manage RoomBookings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="RoomBookingDetails" asp-action="Index">Manage RoomBookingDetails</a>
                                    </li>
                                  @*   <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="RoomItems" asp-action="Index">Manage RoomItems</a>
                                    </li> *@
                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="RolesAdmin" asp-action="Index">Manage RolesAdmin</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Payments" asp-action="Index">Manage Payments</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index">Manage Reports </a>
                                    </li>
                                </ul>
                            </li>
                            }
                        @if (User.IsInRole("Guest"))
                        {

                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Guests" asp-action="MyProfile">My Profile</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="RoomBookings" asp-action="MyRoomBooking">My RoomBooking</a>
                        </li>
                      @*   <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="RoomItems" asp-action="ListRoomItems">ListRoomItems</a>
                        </li> *@
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="RoomItems" asp-action="DisplayRoomItems">My Cart (@ViewBag.count)</a>
                            </li>
                        }
                        <li>
                            <partial name="_RoomSearch"/>
                        </li>
                        
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - HotelReservationSystemProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
