
<form asp-controller="Rooms" asp-action="Search" method="get">
    <div class="input-group input-group-outline">
        <input type="text" class="form-control" name="searchR" placeholder="Search..." value="" />
        <button type="submit" class="btn btn-md btn-primary">Search</button>
    </div>
</form>